@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.poppins {
    font-family: 'Poppins', sans-serif;
}

.highlightText {
    background: var(--Gradient-Heading, linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.375rem;
    letter-spacing: -0.0625rem;
}

.customShadow {
    border-radius: 1.25rem;
    box-shadow: 2px 2px 100px 0px rgba(0, 0, 0, 0.20);
}

.noShadow {
    border-radius: 1.25rem;
}

.btn {
    color: #FFF;

    font-family: Poppins, sans-serif;
    background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    transition: all 0.3s linear;
}

.btn:hover {
    scale: 1.04;
    background: linear-gradient(90deg, #1eb6f7 -2.06%, #d33ba8 100%);
}

@media (max-width: 768px) {
    .highlightText {
        font-size: 1.75rem;
        line-height: normal;
        letter-spacing: normal  ;
    }
}